@{
    ViewData["Title"] = "Home Page";
}

<app asp-prerender-module="ClientApp/dist/main-server">Loading...</app>
<script src="~/dist/vendor.js" asp-append-version="true"></script>

@*<link href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.css" rel="stylesheet">*@
@section scripts {

    @*fuck webpack*@
    <script src="https://cdn.jsdelivr.net/isbnjs/1.0.0/isbn.js"></script>
        @*<script src="node_modules/isbnjs/isbn.js"></script>*@
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
    
}
