

<h1>Books</h1>

<p *ngIf="!books"><em>Loading...</em></p>

<button class="btn btn-success" (click)="onAddBook($event)">Add book</button>

<table class='table' data-toggle="table" *ngIf="books">
    <thead>
        <tr>
            <th data-sortable="true">Title</th>
            <th>Author</th>
            <th>Pages</th>
            <th>Publisher</th>
            <th>Year</th>
            <th>ISBN</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books">
            <td>{{ book.title }}</td>
            <td>{{ book.authors[0].firstName +' ' +book.authors[0].lastName }}</td>
            <td>{{ book.pagesCount }}</td>
            <td>{{ book.publisher }}</td>
            <td>{{ book.publicationYear }}</td>
            <td>{{ book.isbn }}</td>
            <td><button (click)="onEditBook($event, book)">Edit</button></td>
            <td><button (click)="onDeleteBook($event, book)">Delete</button></td>
        </tr>
    </tbody>
</table>
