<div class="container-fluid custom-modal-container">
    <div class="row custom-modal-header">
        <div class="col-sm-12">
            <h1>Edit book</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <edit-book-detail [book] ="context.book" (success)="onSuccess($event)" (cancel)="onCancel($event)"></edit-book-detail>
            </div>
        </div>

</div>