
            <form [formGroup]="editBookForm" (ngSubmit)="onSubmit()" novalidate >
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-10">
                        <input class="form-control" formControlName="title">
                        <small [hidden]="editBookForm.controls['title'].valid" class="text-danger">
                            Title is required (maximum 30 characters).
                        </small>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Authors</label>
                    <div class="col-sm-10">
                        <div formArrayName="authors">
                            <div *ngFor="let author of authors.controls; let i = index" [formGroupName]="i">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <input class="form-control" formControlName="firstName">
                                    </div>

                                    <div class="col-sm-4">
                                        <input class="form-control" formControlName="lastName">
                                    </div>

                                    <div class="col-sm-4" *ngIf="i==0">
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default glyphicon glyphicon-plus" (click)="addAuthor()"></button>
                                            <button  type="button" class="btn btn-default glyphicon glyphicon-minus" (click)="removeAuthor()"></button>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-sm-10">
                                        <small [hidden]="author.controls['firstName'].valid" class="text-danger">
                                            First name is required (maximum 20 characters).
                                        </small>
                                        <small [hidden]="author.controls['lastName'].valid" class="text-danger">
                                            Last name is required (maximum 20 characters).
                                        </small>
                                    </div>

                                </div>

                            </div>
                            
                        </div>
                        </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Pages</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" formControlName="pagesCount">
                        <small [hidden]="editBookForm.controls['pagesCount'].valid" class="text-danger">
                            The number of pages should be between 1 and 10000.
                        </small>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Publisher</label>
                    <div class="col-sm-10">
                        <input class="form-control" formControlName="publisher">
                        <small [hidden]="editBookForm.controls['publisher'].valid" class="text-danger">
                            Publisher is too long (maximum 30 characters).
                        </small>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Publication year</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" formControlName="publicationYear">
                        <small [hidden]="editBookForm.controls['publicationYear'].valid" class="text-danger">
                            Year of publication must be after 1799.
                        </small>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">ISBN</label>
                    <div class="col-sm-10">
                        <input class="form-control" formControlName="isbn">
                        <small [hidden]="editBookForm.controls['isbn'].valid" placeholder="978-4-87311-336-4" class="text-danger">
                            ISBN is not valid.
                        </small>
                    </div>
                </div>


                
                <button type="submit" [disabled]="!editBookForm.valid" class="btn btn-success">Submit</button>
                <button type="button" class="btn btn-danger" (click)="cancelEdit()" >Cancel</button>
                <!--<p>Form value: {{ editBookForm.value | json}}</p>-->

            </form>
